<div class="container">
    <div class="jumbotron">
        <h1>Minesweeper</h1>
        <p class="lead">
            left click open a cell, right click mark the cell.
        </p>
    </div>
    <div class="row">
        <table class="center" cellpadding="10">
            <tr ng-repeat="row in vm.model.board">
                <td class="normal-cell"
                    ng-repeat="cell in row"
                    ng-class="{ 'bomb-cell': cell.state, 'revealed-cell': cell.revealed }"
                    ng-right-click="vm.clickHandler(cell, 'mark')"
                    ng-click = "vm.clickHandler(cell, 'open')">
                        <i ng-show ="cell.state" class="fa fa-bomb fa-2x"></i>
                        <i ng-show ="cell.marked" class="fa fa-flag fa-2x"></i>
                        <span ng-show="cell.revealed && cell.value > 0 && !cell.state">
                            {{cell.value}}
                        </span>
                </td>
            </tr>
        </table>
    </div>
</div>