<div class="container">
    <div class="jumbotron">
        <h1>Minesweeper</h1>
        <p class="lead">
            Left click open a cell, Right click mark the cell.<br>
            You can also share the link and play with your friend at same time!
        </p>
    </div>
    <div class="row">
        <div ng-show="vm.model.game_status && vm.model.win"
             class="alert alert-success"
             role="alert">
            <strong>Well done!</strong> You have won !
            <button type="button"
                    class="btn btn-link"
                    ng-click="vm.newGame()"
                    >Restart
            </button>
        </div>
        <div ng-show="vm.model.game_status && !vm.model.win"
             class="alert alert-danger"
             role="alert">
            <strong>Oh snap!</strong> boomshakalaka ........
            <button type="button"
                    class="btn btn-link"
                    ng-click="vm.newGame()"
                    >Restart
            </button>
        </div>
    </div>
    <div class="row">
        <table class="center" cellpadding="10">
            <tr ng-repeat="row in vm.model.board">
                <td class="normal-cell"
                    ng-repeat="cell in row"
                    ng-class="{ 'revealed-cell': cell.revealed, 'bomb-cell': cell.state}"
                    ng-right-click="vm.clickHandler(cell, 'mark')"
                    ng-click = "vm.clickHandler(cell, 'open')">
                        <i ng-show ="cell.state" class="fa fa-bomb fa-2x"></i>
                        <i ng-show ="cell.marked" class="fa fa-flag fa-2x"></i>
                        <span ng-show="cell.revealed && cell.value > 0 && !cell.state && !cell.marked">
                            {{cell.value}}
                        </span>
                </td>
            </tr>
        </table>
    </div>
</div>